.chart-plot-background {
    -fx-background-color: #212121;
}

.axis-label {
    -fx-text-fill: #FFFFFF;
}

.chart-legend {
    -fx-background-color: transparent;
    -fx-border-color: #D18475;
    -fx-border-width: 1px;
    -fx-border-radius: 10;
}

.chart-legend-item {
    -fx-text-fill: #aaaaaa;
}

.chart-axis-labels {
    -fx-text-fill: white;
}