.middle-container {
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-alignment: center;
    -fx-min-width: 200px;
}

.middle-container-label-frame {
    -fx-background-color: #212121;
    -fx-padding: 10px;
    -fx-border-color: #D18475;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
