.middle-button {
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-padding: 10px;
    -fx-font-weight: bold;
}

.middle-label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-padding: 10px;
    -fx-font-weight: bold;
}

.middle-label-small {
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-font-weight: bold;
}

.middle-label-very-small {
    -fx-background-color: #212121;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-padding: 10px;
    -fx-font-weight: bold;
}



